
.aboutus_top {
  padding: 30px;
  width: 65%;
  margin-bottom: 6rem;
  background-color: white;
  border-radius: 20px;
}

.aboutus_top p {
  margin: 0 0 2em 30px;
}

.list_class {
  padding: 0.5rem;
  width: 65%;
  li {
    line-height: 165%;
    margin: 0.5rem;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
  }
}
