/*
.about_us_1 {

  margin: 2em;
  margin-left: 3rem;
  margin-right: 8rem;
    
  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
  h2 {
    margin-left: 3rem;
    font-size: 3rem;
  }
  
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
*/

.aboutus_top {
  padding: 2rem;
  margin-right: 48rem;
  margin-bottom: 6rem;
  background-color: white;
  border-radius: 20px;
}

.list_class {
  padding: 0.5rem;
  margin-right: 48rem;
  background-color: white;
  border-radius: 20px;
  li {
    font-size: 1.25rem;
    margin: 0.5rem;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
  }
}
