.commentDiv {
  border-radius: 20px;
  background-color: #d7fff1;
  padding: 10px;
}

.commentForm {
  margin-top: 10px;
  border-radius: 20px;
  background-color: #d7fff1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  display: flex;
  align-self: flex-end;
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  margin: 2% auto;
  border-radius: 20px;
}

.textArea {
  width: 100%;
}

.username {
  font-weight: bold;
}

.date {
  border-bottom: solid 1px #285943;
  margin-bottom: 15px;
}

.likeButton {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.likeButton:active {
  animation: press 100ms;
}

.marketButtonDiv {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.replyDiv {
  display: flex;
  flex-direction: column;
}

.buttonSmall {
  border: 0;
  padding: 8px 10px;
  color: #fff;
  background-color: #77af9c;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  margin: 5px 0px 5px 0;
  align-self: flex-end;
}

.buttonSmall:hover {
  background-color: #aafcb8;
  color: #285943;
  text-decoration: none;
}

@keyframes press {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    bottom: 0;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: auto;
  align-content: start;
  align-items: start;
  justify-content: center;
  padding-bottom: 80px;
  margin-top: 20px;
}

.gridContainer > article {
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 100%;
  margin: 0;
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media (min-width: 1240px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}
