.commentDiv {
  border-radius: 20px;
  background-color: #d7fff1;
  padding: 10px;
}

.commentForm {
  margin-top: 10px;
  border-radius: 20px;
  background-color: #d7fff1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  display: flex;
  align-self: flex-end;
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  margin: 2% auto;
  border-radius: 20px;
}

.textArea {
  width: 100%;
}

.username {
  font-weight: bold;
}

.date {
  border-bottom: solid 1px #285943;
  margin-bottom: 15px;
}

.likeButton {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.likeButton:active {
  animation: press 100ms;
}

.marketButtonDiv {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

@keyframes press {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    bottom: 0;
  }
}
