.usernameDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 10px;
}

.profileDiv {
  margin: 50px auto;
  background-color: #77af9c;
  box-shadow:
    inset 13px 13px 20px #659585,
    inset -13px -13px 20px #89c9b3;
  border-radius: 20px;
  padding: 10px 20px 25px 20px;
}

.nameInfo {
  margin-left: 20px;
}

.uniInfo {
  margin-right: 40px;
}

.profileDiv h1,
.profileDiv h2,
.profileDiv h3 {
  margin: 0;
}

@media (min-width: 1024px) {
  .profileDiv {
    width: 60vw;
    /* justify-self: center; */
    /* margin: 50px auto; */
  }
}

/* styles for posts */
.commentDiv {
  border-radius: 20px;
  background-color: #d7fff1;
  padding: 10px;
}

.commentForm {
  margin-top: 10px;
  border-radius: 20px;
  background-color: #d7fff1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  display: flex;
  align-self: flex-end;
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  margin: 2% auto;
  border-radius: 20px;
}

.textArea {
  width: 100%;
}

.username {
  font-weight: bold;
}

.date {
  border-bottom: solid 1px #285943;
}

.likeButton {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.likeButton:active {
  animation: press 100ms;
}

.marketButtonDiv {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

@keyframes press {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    bottom: 0;
  }
}
