@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  padding: 20px;
  color: #285943;
  background-color: #d7fff1;
}

main {
  padding: 0 3% 10% 3%;
}

h1 {
  font-size: 250%;
  margin: 1.6em 0;
}

h2 {
  font-size: 200%;
  margin: 1.4em 0 1em 12px;
}

h3 {
  font-size: 150%;
  margin: 1.2em 0 1em 12px;
}

p {
  line-height: 175%;
}

.clerk-auth {
  display: flex;
  justify-content: center;
  margin: 5% 2%;
}

.sign-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

a,
button,
option,
button,
.button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.my-form {
  max-width: 500px;
  margin: 0 auto 5% auto;
  padding: 30px 30px 40px 30px;
  background-color: #eee;
}

.my-form,
article {
  border-radius: 20px;
}

label {
  padding: 0 0 12px 0;
}

.my-form input,
.my-form textarea,
select {
  width: 100%;
  display: block;
  margin: 15px 0 30px 0;
  background-color: #fff;
  padding: 20px;
}

.button {
  display: inline-block;
  border: 0;
  padding: 20px 30px;
  color: #fff;
  background-color: #77af9c;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  background-color: #aafcb8;
  color: #285943;
  text-decoration: none;
}

a:hover,
button:hover,
.button:hover {
  transition: 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  margin: 0 0 0 10px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  margin: 2% auto;
}

article img {
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}

article .button {
  margin: 35px 0 0 0;
  max-width: fit-content;
}

.post-info {
  margin: 20px 0 20px 0;
}

.counts {
  text-align: right;
}

.counts p {
  margin: 20px;
}

hr {
  margin-bottom: 50px;
}

footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
  padding: 120px 10px 100px 10px;
  letter-spacing: 1px;
}

footer p {
  text-align: center;
}

.topBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
}

.topBtn:hover {
  background-color: #555;
}

/* colour pallette */
/* #D7FFF1
#AAFCB8
#8CD790
#77AF9C
#285943 */