@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  padding: 20px;
  color: #285943;
  background-color: #D7FFF1;
}

main {
  padding: 0 3% 10% 3%;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
  margin: 0 0 2em 0;
}

h3 {
  font-size: 150%;
}

p {
  line-height: 175%;
}

.sign-in,
.sign-up {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5% 2%;
}

a {
  transition: 0.3s;
}

a,
button,
.sign-in,
.sign-up,
option,
button,
.button {
  cursor: pointer;
}

.my-form {
  max-width: 500px;
  margin: 0 auto 5% auto;
  padding: 30px 30px 40px 30px;
  background-color: #eee;
  border-radius: 10px;
}

label {
  padding: 0 0 10px 0;
}

.my-form input,
.my-form textarea,
select {
  width: 100%;
  display: block;
  margin: 15px 0 30px 0;
  background-color: #fff;
  padding: 5px 10px;
  /* font-family: monospace; */
  font-size: 150%;
}

.sign-in,
.sign-up {
  display: flex;
  justify-content: center;
  margin: 5% 2%;
}

button,
.button {
  padding: 20px;
  color: #fff;
  background-color: #77AF9C;
  border-radius: 10px;
}

button {
  border: 0;
}

a:hover,
button:hover,
.button:hover {
  transition: 0.3s;
  background-color: #AAFCB8;
  color: #285943;
}

/* #radix-_R_77lb_ {

} */

/* colour pallette */
/* #D7FFF1
#AAFCB8
#8CD790
#77AF9C
#285943 */

/*

nav,
.user-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 75px auto 100px auto;
}

.user-list {
    flex-direction: column;
}

nav a,
.user-list a,
.button {
    flex: 1;
    text-decoration: none;
}

.my-form {
    margin: 50px auto;
}

.my-form button {
    width: 100%;
}

.user-data {
    margin: 12% 0;
    padding: 2%;
}

.user-post {
    margin: 0 0 20px 0;
    padding: 1.4em 1em 1.6em 1em;
}

.user-data,
.user-post {
    background-color: aliceblue;
    border-radius: 10px;
}

hr {
    margin-bottom: 50px;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 125%;
    padding: 120px 10px 100px 10px;
    letter-spacing: 1px;
}

@media screen and (min-width:900px) {

    .logo-box {
        justify-content: right;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 225%;
    }

    h3 {
        font-size: 175%;
    }

    main {
        margin: 100px auto 0 auto;
    }
}

.cl-button {
    z-index: 99;
}

*/