@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  padding: 20px;
  color: #285943;
  background-color: #d7fff1;
}

main {
  padding: 0 3% 10% 3%;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
  margin: 0 0 2em 0;
}

h3 {
  font-size: 150%;
}

p {
  line-height: 175%;
}

.clerk-auth {
  display: flex;
  justify-content: center;
  margin: 5% 2%;
}

.sign-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

a,
button,
option,
button,
.button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.my-form {
  max-width: 500px;
  margin: 0 auto 5% auto;
  padding: 30px 30px 40px 30px;
  background-color: #eee;
}

.my-form,
article {
  border-radius: 20px;
}

label {
  padding: 0 0 12px 0;
}

.my-form input,
.my-form textarea,
select {
  width: 100%;
  display: block;
  margin: 15px 0 30px 0;
  background-color: #fff;
  padding: 20px;
}

.button {
  display: inline-block;
  border: 0;
  padding: 20px 30px;
  color: #fff;
  background-color: #77af9c;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  background-color: #aafcb8;
  color: #285943;
  text-decoration: none;
}

a:hover,
button:hover,
.button:hover {
  transition: 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  margin: 0 0 0 10px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  margin: 2% auto;
}

article img {
  width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}

article .button {
  margin: 35px 0 0 0;
  max-width: fit-content;
}

.post-info {
  margin: 20px 0 20px 0;
}

.counts {
  text-align: right;
}

.counts p {
  margin: 20px;
}

hr {
  margin-bottom: 50px;
}

footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
  padding: 120px 10px 100px 10px;
  letter-spacing: 1px;
}

footer p {
  text-align: center;
}

/* for testing remove if necessary */
/* .dropdown {
  display: inline-block;
} */

/* #radix-_R_77lb_ {

} */

/* colour pallette */
/* #D7FFF1
#AAFCB8
#8CD790
#77AF9C
#285943 */

/*

nav,
.user-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 75px auto 100px auto;
}

.my-form button {
    width: 100%;
}

@media screen and (min-width:900px) {

    .logo-box {
        justify-content: right;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 225%;
    }

    h3 {
        font-size: 175%;
    }

    main {
        margin: 100px auto 0 auto;
    }
}

.cl-button {
    z-index: 99;
}

*/
