/*
.about_us_1 {

  margin: 2em;
  margin-left: 3rem;
  margin-right: 8rem;
    
  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
  h2 {
    margin-left: 3rem;
    font-size: 3rem;
  }
  
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
*/